---
import App from "../components/app";
import Header from "../components/header";
import Blade from "../components/blade/blade";
import IconWithHint from "../components/icon-with-hint";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="JM's landing page. A guy that exists is here"
		/>
		<title>JM's Landing Page</title>
	</head>
	<body>
		<App>
			<Header client:load />

			<Blade type="right">
				<h3 class="text-lg font-bold text-center">Welcome Wanderer</h3>
				<p>Just some socials for Jose Marco who also goes by JM.</p>
			</Blade>

			<Blade type="left">
				<section class="w-max flex align-middle justify-center">
					<IconWithHint
						client:visible
						message="@nglr_jm"
						size={24}
						src="/icons/002-youtube.png"
						alt="youtube icon"
						href="https://www.youtube.com/@nglr_jm"
						hint="Subscribe to my youtube"
					/>
				</section>
				<p>
					There's a youtube you should subscribe to for random videos uploaded
					at random times
				</p>
			</Blade>

			<Blade type="right">
				<section class="w-max flex align-middle justify-center">
					<IconWithHint
						client:visible
						message="@jmnuf"
						size={24}
						src="/icons/003-github.png"
						alt="github icon"
						href="https://github.com/jmnuf/"
						hint="Check other code I've written"
					/>
				</section>
				<p>
					{
						"You can look at other code I've written inside of my github account."
					}<br />
					{"The source code of this website is also available in "}<a
						href="https://github.com/jmnuf/jm-on-site">github</a
					>
				</p>
			</Blade>

			<Blade type="left">
				<section class="w-max flex align-middle justify-center">
					<IconWithHint
						client:visible
						message="@jm_of_nglr"
						size={24}
						src="/icons/001-twitch.png"
						alt="twitch icon"
						href="https://twitch.tv/jm_of_nglr"
						hint="Catch me live in twitch"
					/>
				</section>
				<p>
					Though not really a habit I do stream sometimes, have done code, art
					and games streams.<br />
					I do work a full time so if I do stream I'll usually do so either a Saturday
					or Sunday<br />
					This website was started in a live stream actually!
				</p>
			</Blade>

			<footer
				class="flex flex-col justify-center align-middle text-center relative bottom-0 left-0 right-0 min-h-fit bg-slate-500 bg-opacity-50 pt-4 pb-2 mt-1"
			>
				<address>
					<p class="text-base">
						Built by <a href="mailto:jose.m.nufio.0@gmail.com">Jose Marco</a>
					</p>
				</address>
				<p class="text-sm">
					Built on top of <a href="https://astro.build/">Astro</a> and <a
						href="https://www.solidjs.com/">SolidJS</a>
				</p>
			</footer>
		</App>
	</body>
</html>
