---
import App from "../components/app";
import Header from "../components/header";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			.maxed-height {
				height: 100vh;
				height: 100svh !important;
			}
		</style>
	</head>
	<body>
		<App>
			<Header client:visible />
			<h1>JM</h1>
		</App>
	</body>
</html>
