---
import App from "../components/app";
import Header from "../components/header";
import Blade from "../components/blade/blade";
import IconWithHint from "../components/icon-with-hint";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="JM's landing page. A guy that exists is here"
		/>
		<title>JM's Landing Page</title>
		<style>
			.blade-left {
				clip-path: polygon(0 0, 80% 0, 99% 100%, 0 100%);
				padding-left: 1rem;
				transform: translateX(-2%);
			}
			.blade-left * {
				margin-right: 15%;
			}
			.blade-left:hover,
			.blade-right:hover {
				transform: translateX(0%);
			}
			.blade-right {
				clip-path: polygon(10% 100%, 20% 0, 100% 0, 100% 100%);
				text-align: right;
				padding-right: 1rem;
				transform: translateX(2%);
			}
			.blade-right * {
				margin-left: 15%;
			}

			.blade-left,
			.blade-right {
				margin-top: 1rem;
				margin-bottom: 1rem;
				min-height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 1rem;
				padding-bottom: 1rem;
				transition-property: all;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 200ms;
				--bg-opacity: 0.85;
				background-color: rgba(249, 168, 212, var(--bg-opacity));
				color: black;
			}
			@media (prefers-reduced-motion) {
				.blade-left,
				.blade-right {
					transition-property: none;
				}
			}
			.ml-none {
				margin-left: 0%;
			}
			.mr-none {
				margin-right: 0%;
			}
		</style>
	</head>
	<body>
		<App>
			<Header client:visible />
			
			<Blade type="right">
				<h2 class="text-center ml-none">Website under construction</h2>
			</Blade>
			
			<Blade type="left">
				<h2 class="text-lg text-center mr-none">YouTube</h2>
				<IconWithHint
					client:visible
					message="NGLR - JM"
					size={32}
					src="/icons/002-youtube.png"
					alt="youtube icon"
					href="https://www.youtube.com/@nglr_jm"
					hint="Got a youtube for random stuff"
				/>
				<p>
					There's a youtube I own you can subscribe to if you so wish to. Though
					really it's random content
				</p>
			</Blade>
			<Blade type="right">
				<h2 class="mr-none">OS Website</h2>
				<p>
					This website is also publicly available on github
				</p>
			</Blade>
		</App>
	</body>
</html>
