.blade-left {
	clip-path: polygon(0 0, 80% 0, 99% 100%, 0 100%);
	padding-left: 1rem;
	transform: translateX(-2%);
}
.blade-left > * {
	margin-right: 15%;
}
.blade-left:hover, .blade-right:hover {
	transform: translateX(0%);
}
.blade-right {
	clip-path: polygon(1% 100%, 20% 0, 100% 0, 100% 100%);
	text-align: right;
	padding-right: 1rem;
	transform: translateX(2%);
}
.blade-right > * {
	margin-left: 15%;
}

.blade-left, .blade-right {
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	--bg-opacity: 0.85;
	background-color: rgba(249, 168, 212, var(--bg-opacity));
	color: black;
}

.blade-left a, .blade-right a {
	color: rgb(66 19 139);
	text-decoration: underline wavy red 1px;
}

@media (prefers-reduced-motion) {
	.blade-left, .blade-right {
		transition-property: none;
	}
}
.ml-none {
	margin-left: 0%;
}
.mr-none {
	margin-right: 0%;
}
