@import "tailwindcss";


body {
  @apply bg-purple-900;
  @apply text-pink-50;
  min-width: 100vw;
  min-height: 100vh;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

