@import "tailwindcss";

body {
  @apply bg-purple-900;
  min-width: 100vw;
  min-height: 100vh;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  line-height: calc(2.5 / 2.25);
}

h2 {
  font-size: 24px;
  line-height: calc(2 / 1.5);
}

